{{> ./_return.hbs }}

<div class="content-well">
    <h1>{{title}}</h1>

{{#if highscores}}
    <ol>
        {{#each highscores}}
            <li>{{this.user}} ....... {{this.score}}</li>
        {{/each}}
    </ol>
{{else if error}}
    <p>
        {{error}}
    </p>
{{else}}
    <p>
        No High Scores!
    </p>
{{/if}}
</div>
