    {{> ./_return.hbs }}

    <div id="hot-keys" class="content-well">
        <h1>Hot Keys</h1>
        <h5 id="error-message">Duplicate Keys not allowed</h5>
        <h5 id="save-message">Save Successful</h5>
        {{#if hotKeys}}
            <ul>
            {{#each hotKeys}}
                <li><label for="{{id}}">{{id}}: </label></li>
                <li><input type="text" id="{{id}}" placeholder="{{default}}" value="{{value}}"/></li>
            {{/each}}
            </ul>
        {{/if}}

        <button id="hotkey-save-btn" class="btn bump">Save</button>
    </div>
